$primary-color:#2196F3;
$cor-textos-navbar:white;
$navbar-link-ativo:#1E88E5;
$td-estoque-baixo:#E53935;
$link-breadcumb:#757575;

body { padding-top: 70px;  padding-bottom: 70px; }

.alinha-icone-navbar{
  margin-top: -8px;
}

.navbar-cor{
  background: $primary-color;
  color: $cor-textos-navbar;

  a,p {
      color: $cor-textos-navbar !important;
      font-weight: bolder;
  }

  .navbar-link-ativo{
    color: $cor-textos-navbar;
    background-color: $navbar-link-ativo;
  }

}

.estoque-baixo{
  background: $td-estoque-baixo;
  color: $cor-textos-navbar;
}

.sessao-ativa{
  color:$link-breadcumb !important;
}

.btn > .alinha-icone{
  margin-left: 5px;
}

button > p {
  margin: 0;
  padding: 0;
}

td > a{
  color: initial;
}
